/* variable */
:root {
  --white: #fff;
  --black: #212529;
  --gray-01: #999;
  --gray-02: #b4b4b4;
  --gray-03: #ebebeb;
  --gray-04: #d4d4d4;
  --gray-05: #666;
  --green: #00b564;

  --border-01 : 1px solid #eaeaea;
  --border-02 : 4px solid #212529;
  --border-03 : 1px solid #aaa;

  --noto_sans: 'Noto Sans KR', sans-serif; 
  --montserrat: 'Montserrat', sans-serif; 
}


/* --------- */
* {
  box-sizing: border-box;
}

html,body {
  font-family: var(--noto_sans);
  font-weight:400;
  color: var(--black);
}

#wrap {
  width:100%; height:100%;
}

.img {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.title {
  font-weight:600;
}

.section {
  width:100%; height:100%;
}


/* header */
.header {
  position:fixed; z-index: 1000; top:0; left:0;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  width:100%; height: 84px;
  border-bottom: var(--border-01);
  background-color:var(--white);
}

.nav-top {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  width: 80%; max-width:1620px; height:auto;
  margin:auto;
  font-size:15px;
  font-weight:600;
  color:var(--gray-01);
}

.nav-top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.nav-top li {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center; 
  margin-right:40px;
 }

.nav-top li:first-child { margin-right: 70px;}
.nav-top li:last-child { margin-right: 0;}

.nav-top-active { color:var(--black); }

.logo {
  display: block;
  width:72px; height:20px;
  background-image:url(../img/mobile-gnb-logo.png);
}

.curation{ color:var(--gray-04); }

.rounded-sq {
  display:inline-block;
  height:20px;
  padding:5px 0 0; 
  margin: 3px 6px 0;
  font-family: var(--montserrat);
  font-size:10px;
  color:var(--white);
  text-align:center;
  border-radius:9px;
}

.curation .rounded-sq { 
  width:54px;
  background-color:var(--gray-03); 
}

.store .rounded-sq{ 
  width:40px;
  background-color:var(--green); 
}

.store-img {
  display:inline-block;
  width:20px; height:20px;
  margin:1px 4px 0 0;
}



/* first-page */
.nav-side {
  position:fixed; z-index:100; top:50%; left:9vw;
  font-size:0.84vw;
  transform: translateY(-50%);
}

.nav-side li {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  font-weight: 500;
  color:var(--gray-02);
}

.bar-wrap {
  width:26px; height:3px;
  margin-right: 16px;
}

.bar-link {
  display:block;
  width:14px; height:100%;
  background-color:var(--gray-03);
}

.bar-active {
  width:26px;
  background-color:var(--green);
}

.nav-side-active {
  color: var(--green);
  font-weight:600;
}


.moving-arr {
  position:absolute; z-index:10; 
  left:50%;
  display: block;
  width:40px; height:40px;
  background-image:url(../img/move-arrow.png);
  transform:translateX(-50%);
  animation-duration: 1.5s;
  animation-name:updown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes updown {
  from {
    bottom:60px;
  }
  to {
    bottom:30px;
  }
}

.search-box {
  position:absolute;
  top:50%; left:50%;
  height:auto;
  white-space:nowrap;
  transform: translate(-50%, -50%);
  /* transition:all 0.25s; */
}

.p-serach {
  width:100%; height:auto;
  margin-bottom: 44px;
  color:var(--green);
  font-family:var(--montserrat);
  font-weight: 600;
}

.search-wrap {
  width:100%; height:auto;
  font-size:5.5vw;
  letter-spacing: -5px;
}

.search-wrap .p {
  margin-bottom: 22px;
}

.form-wrap {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width:100%; height: auto;
}

.search-wrap form {
  display:inline-block;
  width:19vw; height:auto;
}

.search-wrap input {
  width:100%; height:auto; 
  border-bottom:var(--border-02);
}


/* second-page */
.question-box {
  position:relative;
  top: 48%; left: 50%;
  height:auto;
  transform: translate(-50%, -50%);
}

.question-box .title {
  margin-bottom: 3.9vw;
  text-align: center;
  font-size: 3.2vw;
  letter-spacing: -3px;
}

.plant-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:50.5%;
  margin:auto;
}

.plant-list li {
  height:3.57vw;
  padding:0 1.785vw;
  border-radius:50px;
  border:var(--border-03);
  font-size: 1.785vw;
  color:var(--gray-05);
  line-height:3.23vw;
  letter-spacing:-1.5px;
  cursor: pointer;
}